@import url(global.css);

/* skull banner img and styling */
#skull-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 55vw;
    background: rgb(173, 3, 3);
    border-radius: 5px;
    padding: 2.5rem;
    margin: 5vw;
    background: url("T1A2-img/mathew-macquarrie-skull-dark.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 100px 5px#6a6b6b;
    opacity: 90%;
    border-radius: 5%;
}

/* skull text decoration */
#skull-banner p {
    font: lato;
    font-size: 9vw;
    color:  rgba(169, 8, 8, 1111);
    text-decoration-line: none;
    text-size-adjust: 700;
    text-shadow: -1px -1px px #6a6b6b;
}

/* main content container */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    margin: 5vw;
}

p {
    font-size: 2.5rem;
}