@import url(global.css);

#projects-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 8vw;
    width: 85vw;
    /* background: rgb(173, 3, 3); */
    margin: 3vw;
    margin-bottom: 1vw;
    background: url("T1A2-img/markus-spiske-green-data.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 100px 5px#6a6b6b;
    opacity: 90%;
    border-radius: 5%;
}

#projects-banner p {
    font-size: 5vw;
    color:  rgba(169, 8, 8, 1111);
    text-decoration-line: underline;
    text-size-adjust: 700;
    text-shadow: -1px -1px px #6a6b6b;
}

#current-works-h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    z-index: 1;
}

section {
    height: 20%;
    margin: 5vw;
    padding: 2.5rem;
    background: white;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vw;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5vw;
}

section {
    display: inline;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 30vw;
    padding: 1vw;
    margin: 2vw;
    background: rgb(8, 8, 8);
    box-shadow: 0px 0px 100px 5px#6a6b6b;
    border-radius: 5%;
    text-align: center;
    overflow-wrap: normal;
}

section h1, h3, h4 {
    font-size: 2.5vw;
    color: rgb(173, 3, 3);
}

#current-works-h1 h1 {
    font-size: 4vw;
    
}

p {
    font-size: 2.6vw;
}

#image-a, #image-b, #image-c {
    width: 30%;
    height: 100%;
    margin: 1%;
    display: inline-block;
    border-radius: 45%;
}

#image-a {
    background: url(https://italysegreta.com/wp-content/uploads/2021/03/636079337119208641-828462470_Italians1.jpeg) no-repeat 99% center;
    background-size: cover;
}

#image-b {
    background: url(T1A2-img/fidias-cervantes-albino-python.jpg) no-repeat center;
    background-size: cover;
}


#image-c {
background: url(T1A2-img/jasmin-sessler-dont\ panic.jpg) no-repeat center center;
background-size: cover;
}

@media screen and (max-width: 412px) {
    #projects-banner {
        width: 70vw;
        height: 15vw;
    }

    #projects-banner p {
        font-size: 10vw;
    }
    main {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        /* height: 80vw; */
    }
    #current-works-h1 {
        font-size: 6vw;
    }
}